.DS_Store
*.iml


HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Master Slave Database Postgres
./master-slave-database-postgres/config
./master-slave-database-postgres/data
./master-slave-database-postgres/data-slave

# Rate Limiter

# OpenStreetMap
./openstreetmap/openstreetmap-website
./openstreetmap/data